[[source]]

url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
Flask-SQLAlchemy = "*"
gunicorn = "*"
rsa = "*"
flask-pymongo = "*"
requests = "*"
mysql-connector-python-rf = "*"


[dev-packages]



[requires]

python_version = "3.6"
