certifi==2018.1.18
chardet==3.0.4
click==6.7
flask==0.12.2
flask-pymongo==0.5.1
flask-sqlalchemy==2.3.2
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
jinja2==2.10
markupsafe==1.0
mysql-connector-python-rf==2.2.2
pyasn1==0.4.2
pymongo==3.6.0
requests==2.18.4
rsa==3.4.2
sqlalchemy==1.2.4
urllib3==1.22
werkzeug==0.14.1
